*
!автотовары.png
!аптека.jpg
!бытовая_химия.png
!бытовая-техника.png
!для_детей.jpg
!дом_и_сад.jpg
!зоотовары.jpg
!книги.png
!концтовары.jpg
!красота_и_здоровье.jpg
!мебель.png
!одежда.png
!отдых_рыбалка_и_охота.jpg
!продукты_питания.jpg
!спортивные_товары.jpg
!строительство_и_ремонт.jpg
!электроника.jpg
!ювелирные_украшения.png
!.gitignore
